<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary">API IP</ion-label>
    <ion-input #ApiIP placeholder="IP Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">API Port</ion-label>
    <ion-input #ApiPort placeholder="xxxx"></ion-input>
  </ion-item>
    <ion-item>
        <ion-button color="primary" (click)="logout()">Logout</ion-button>
    </ion-item>
</ion-content>
