<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary">API</ion-label>
      <ion-input #ApiIP placeholder="http://example.com:80"></ion-input>
    </ion-item>
    <ion-item style="float:right;">
      <ion-button color="primary" (click)="logout()">Logout</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
