 @import "~src/theme/variables";

  .loadBar{
    background-color: var(--ion-color-custom-ter2);
    height: 100%;
    align-content: center;
    text-align: center;
    color: white;
    font-size: small;
    border-radius: 25px;
  }

 .outerBar {
   border-width: 1px;
   border-style: solid;
   border-color: lightslategrey;
   border-radius: 25px;
 }
